<div class="min-h-dvh grid lg:grid-cols-2">
  <div
    class="flex items-center justify-center flex-col gap-y-8 container lg:px-20 lg:py-16 max-w-3xl"
  >
    <div class="text-center">
      <h1 class="text-2xl">Réinitialiser votre mot de passe</h1>
      <p class="text-muted-foreground mt-2">
        Entrez votre nouveau mot de passe.
      </p>
    </div>

    <form
      [formGroup]="form"
      (submit)="onSubmit()"
      class="w-full flex flex-col gap-y-4"
    >
      <hlm-form-field>
        <div class="relative flex items-center">
          <input
            hlmInput
            name="password"
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="*********"
            class="w-full"
            formControlName="password"
            autocomplete="new-password"
          />
          <hlm-icon
            [name]="!hidePassword ? 'lucideEye' : 'lucideEyeOff'"
            class="absolute right-3 cursor-pointer text-muted-foreground hover:text-muted-foreground/50"
            (click)="hidePassword = !hidePassword"
          />
        </div>

        <hlm-error>
          <ng-container *ngIf="form.get('password')?.hasError('required')">
            Le mot de passe est requis.
          </ng-container>
          <ng-container *ngIf="form.get('password')?.hasError('pattern')">
            Le mot de passe doit contenir au moins 8 caractères, une lettre
            majuscule, une lettre minuscule et un chiffre.
          </ng-container>
        </hlm-error>
      </hlm-form-field>

      <hlm-form-field>
        <div class="relative flex items-center">
          <input
            hlmInput
            autocomplete="new-password"
            name="confirmPassword"
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="*********"
            class="w-full"
            formControlName="confirmPassword"
          />
          <hlm-icon
            [name]="!hidePassword ? 'lucideEye' : 'lucideEyeOff'"
            class="absolute right-3 cursor-pointer text-muted-foreground hover:text-muted-foreground/50"
            (click)="hidePassword = !hidePassword"
          />
        </div>
        <hlm-error> Les mots de passe ne correspondent pas </hlm-error>
      </hlm-form-field>

      <button hlmBtn type="submit" [disabled]="form.invalid" class="w-full">
        Valider
      </button>

      <p class="text-center">
        <a
          [routerLink]="['/login']"
          [className]="buttonVariants({ variant: 'ghost' })"
        >
          <hlm-icon size="sm" name="lucideArrowLeft" class="mr-2" />
          Retour à la connexion
        </a>
      </p>
    </form>
    <p
      *ngIf="error.length"
      class="text-destructive rounded-md px-4 py-2 border border-destructive text-center"
    >
      {{ error }}
    </p>
  </div>

  <div class="h-full w-full bg-primary hidden lg:block"></div>
</div>
