<nav
  class="h-screen grid grid-rows-[60px_1fr_.3fr] gap-y-8 px-8 pb-6 border-r-[1px] border-slate-200"
>
  <div class="self-center flex justify-between items-center">
    <div>
      <img src="" alt="logo" />
    </div>
    <h2 class="text-lg md:text-xl">E-learning</h2>
    <div>
      <img src="" alt="reduce" />
    </div>
  </div>

  <div class="space-y-8">
    <ul class="space-y-2">
      <li>
        <a
          href="#"
          class="flex items-center text-slate-800 hover:text-slate-900"
        >
          <span>Accueil</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex items-center text-slate-800 hover:text-slate-900"
        >
          <span>Favoris</span>
        </a>
      </li>
    </ul>

    <ul class="space-y-2">
      <a href="#" class="flex items-center text-slate-800 hover:text-slate-900">
        <li>Cours</li>
      </a>
      <a href="#" class="flex items-center text-slate-800 hover:text-slate-900">
        <li>Tutoriels</li>
      </a>
      <a href="#" class="flex items-center text-slate-800 hover:text-slate-900">
        <li>Meilleures pratiques</li>
      </a>
      <a href="#" class="flex items-center text-slate-800 hover:text-slate-900">
        <li>Certificats</li>
      </a>
    </ul>

    <ul class="space-y-2">
      <a href="#" class="flex items-center text-slate-800 hover:text-slate-900">
        <li>Ressources</li>
      </a>
      <a href="#" class="flex items-center text-slate-800 hover:text-slate-900">
        <li>Évennements</li>
      </a>
      <a href="#" class="flex items-center text-slate-800 hover:text-slate-900">
        <li>Communauté</li>
      </a>
    </ul>
  </div>

  <div class="self-end">
    <ul class="space-y-2">
      <a href="#" class="flex items-center text-slate-800 hover:text-slate-900">
        <li>Paramètres</li>
      </a>
      <a href="#" class="flex items-center text-slate-800 hover:text-slate-900">
        <li>Aide</li>
      </a>
      <div class="flex justify-between items-center">
        <p>Dark Mode</p>
        <input type="checkbox" />
      </div>
    </ul>
  </div>
</nav>
