<div class="min-h-dvh grid lg:grid-cols-2">
  <div
    class="flex items-center justify-center flex-col gap-y-8 container lg:px-20 lg:py-16 max-w-3xl"
  >
    <div class="text-center">
      <h1 class="text-2xl">Connectez-vous sur votre compte</h1>
      <p class="text-muted-foreground mt-2">
        Entrez vos informations pour vous connecter.
      </p>
    </div>
    <button
      hlmBtn
      variant="outline"
      class="space-x-2 w-full"
      (click)="loginWithProvider(AuthProvider.google)"
    >
      <img src="/icon/google.png" alt="Google icon" width="20" height="20" />
      <span>Google</span>
    </button>
    <div class="relative border-b flex items-center justify-center w-full">
      <span class="absolute bg-white px-6">OU</span>
    </div>

    <form
      [formGroup]="form"
      (submit)="onLogin()"
      class="w-full flex flex-col gap-y-4"
    >
      <hlm-form-field>
        <input
          hlmInput
          name="email"
          type="email"
          placeholder="Email"
          class="w-full"
          formControlName="email"
        />
        <hlm-error>L'adresse mail est requis</hlm-error>
      </hlm-form-field>
      <hlm-form-field>
        <div class="relative flex items-center">
          <input
            hlmInput
            name="password"
            [type]="hidePassword ? 'password' : 'text'"
            placeholder="*********"
            class="w-full"
            formControlName="password"
          />
          <hlm-icon
            [name]="!hidePassword ? 'lucideEye' : 'lucideEyeOff'"
            class="absolute right-3 cursor-pointer text-muted-foreground hover:text-muted-foreground/50"
            (click)="hidePassword = !hidePassword"
          />
        </div>
        <hlm-error>L'adresse mail est requis</hlm-error>
      </hlm-form-field>
      <div class="flex justify-between gap-x-2">
        <hlm-form-field>
          <label class="flex items-center text-sm" hlmLabel>
            <hlm-checkbox class="mr-2" formControlName="rememberMe" />
            Se souvenir de moi
          </label>
        </hlm-form-field>
        <a
          [routerLink]="['/forgot-password']"
          [className]="buttonVariants({ variant: 'link', size: 'none' })"
        >
          Mot de passe oublié ?
        </a>
      </div>
      <button hlmBtn type="submit" [disabled]="form.invalid" class="w-full">
        Se connecter
      </button>
      <p class="text-center">
        Vous n'avez pas de compte ?
        <a
          [routerLink]="['/register']"
          [className]="buttonVariants({ variant: 'link', size: 'none' })"
        >
          S'inscrire
        </a>
      </p>

      <p
        *ngIf="error.length"
        class="text-destructive rounded-md px-4 py-2 border border-destructive text-center"
      >
        {{ error }}
      </p>
    </form>
  </div>
  <div class="h-full w-full bg-primary hidden lg:block"></div>
</div>
