<div
  class="h-full grid grid-cols-1 auto-rows-auto sm:grid-cols-2 md:grid-cols-4 md:grid-rows-3 gap-4"
>
  <section class="w-full grid grid-rows-[1fr_.1fr]" hlmCard>
    <div hlmCardHeader class="grid grid-cols-[50px_1fr] gap-x-4 items-center">
      <div class="w-full">
        <img
          src="icon/student-cap.jpg"
          alt="Cours"
          class="rounded-sm object-cover"
        />
      </div>
      <div>
        <h3 hlmCardTitle>24</h3>
        <p hlmCardDescription>Enrolled course</p>
      </div>
    </div>

    <div hlmCardContent>
      <brn-separator hlmSeparator class="mb-2" />

      <button
        class="w-full flex justify-between items-center text-sm text-muted-foreground"
      >
        <span>View details</span>
        <hlm-icon name="lucideArrowRight" size="sm" />
      </button>
    </div>
  </section>

  <section class="w-full grid grid-rows-[1fr_.1fr]" hlmCard>
    <div hlmCardHeader class="grid grid-cols-[50px_1fr] gap-x-4 items-center">
      <div class="w-full">
        <img
          src="icon/student-cap.jpg"
          alt="Cours"
          class="rounded-sm object-cover"
        />
      </div>
      <div>
        <h3 hlmCardTitle>56</h3>
        <p hlmCardDescription>Lesson</p>
      </div>
    </div>

    <div hlmCardContent>
      <brn-separator hlmSeparator class="mb-2" />

      <button
        class="w-full flex justify-between items-center text-sm text-muted-foreground"
      >
        <span>View details</span>
        <hlm-icon name="lucideArrowRight" size="sm" />
      </button>
    </div>
  </section>

  <section class="w-full grid grid-rows-[1fr_.1fr]" hlmCard>
    <div hlmCardHeader class="grid grid-cols-[50px_1fr] gap-x-4 items-center">
      <div class="w-full">
        <img
          src="icon/student-cap.jpg"
          alt="Cours"
          class="rounded-sm object-cover"
        />
      </div>
      <div>
        <h3 hlmCardTitle>17</h3>
        <p hlmCardDescription>Certificates</p>
      </div>
    </div>

    <div hlmCardContent>
      <brn-separator hlmSeparator class="mb-2" />

      <button
        class="w-full flex justify-between items-center text-sm text-muted-foreground"
      >
        <span>View details</span>
        <hlm-icon name="lucideArrowRight" size="sm" />
      </button>
    </div>
  </section>

  <section class="row-span-2" hlmCard>
    <div hlmCardHeader>
      <h3>Progress</h3>
    </div>
  </section>

  <section class="sm:col-span-2 md:col-span-3" hlmCard>
    <div hlmCardHeader>
      <h3>Continue learning</h3>
    </div>
  </section>

  <section class="sm:col-span-2 md:col-span-4" hlmCard>
    <div hlmCardHeader>
      <h3>Recommended for you</h3>
    </div>
  </section>
</div>
