<div class="min-h-dvh grid lg:grid-cols-2">
  <div
    class="flex items-center justify-center flex-col gap-y-8 container lg:px-20 lg:py-16 max-w-3xl"
  >
    <div class="text-center">
      <h1 class="text-2xl">Vous avez oublié votre mot de passe ?</h1>
      <p class="text-muted-foreground mt-2">
        Entrez votre adresse mail pour recevoir un lien de réinitialisation.
      </p>
    </div>

    <form
      *ngIf="!success"
      [formGroup]="form"
      (submit)="onSubmit()"
      class="w-full flex flex-col gap-y-4"
    >
      <hlm-form-field>
        <input
          hlmInput
          name="email"
          type="email"
          placeholder="Email"
          class="w-full"
          formControlName="email"
        />
        <hlm-error>L'adresse mail est requis</hlm-error>
      </hlm-form-field>

      <button hlmBtn type="submit" [disabled]="form.invalid" class="w-full">
        Se connecter
      </button>
    </form>

    <p *ngIf="success" class="text-muted-foreground text-center mt-2">
      Un email de réinitialisation de mot de passe vous a été envoyé.
    </p>

    <p class="text-center">
      <a
        [routerLink]="['/login']"
        [className]="buttonVariants({ variant: 'ghost' })"
      >
        <hlm-icon size="sm" name="lucideArrowLeft" class="mr-2" />
        Retour à la connexion
      </a>
    </p>
  </div>
  <div class="h-full w-full bg-primary hidden lg:block"></div>
</div>
